main {
  background: #000;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .container {
    width: 90%;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3%;

    .card {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 200px;
      }

      .description {
        text-align: center;
        overflow-y: scroll;
        height: 90px;
      }
      ::-webkit-scrollbar {
        width: 4px;
      }
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      ::-webkit-scrollbar-thumb {
        background: #888;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .btn {
        display: flex;
        flex-direction: column;
        button {
          background: rgb(115, 4, 4);
          color: whitesmoke;
          margin: 10px;
          height: 30px;
          border-radius: 5px;
        }
      }
    }
  }
}
