.backGroundImage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .left {
    width: 30%;
    text-align: center;

    .img {
      margin-top: 30px;
      opacity: 0.4;
    }
    .postionTextParams {
      width: 30%;
      position: absolute;
      font-size: 20px;
      text-align: center;
      top: 40px;
      color: rgb(255, 246, 230);
      // width: 60%;
    }
  }
  .right {
    color: white;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2%;
    img {
      width: 100px;
    }
  }
  .boxSimilars {
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3%;
  }
}
