.backGroundImage {
  //   position: relative;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  display: flex;

  .left {
    width: 30%;
    text-align: center;

    .img {
      margin-top: 30px;
      opacity: 0.4;
    }
    .postionTextParams {
      // position: absolute;
      // font-size: 30px;
      // text-align: center;
      // top: 40px;
      color: rgb(255, 246, 230);
      // width: 60%;
    }
  }
  .right {
    color: white;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2%;
    img {
      width: 100px;
    }
  }
}
