body {
  width: 100%;
  height: 100vh;
}
header {
  width: 100%;
  height: 70px;
  background: grey;
}
nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
li {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 900;
}
h2 {
  color: whitesmoke;
}
.card {
  color: whitesmoke;
  width: 20%;
  margin: 10px;
}
.movie-app {
  width: 100%;
  background: rgb(8, 8, 8);
  display: flex;
}

.view {
  background: #000;
  width: 100%;
}
